name: End-to-End Mini MLOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  mlops:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    - name: Install Dependencies
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run ML Pipeline
      run: |
        python src/pipeline.py

    - name: Run Tests
      run: |
        pytest tests/

    - name: Save Model Artifact
      uses: actions/upload-artifact@v4
      with:
        name: trained-ml-model
        path: src/model.pkl

